{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">

</head>
<body>
    <center>
        <h1>🍇🍇!..GRAPES..!🍇🍇</h1>
        <img src="{% static 'images/grapes.jpg' %}" alt="not found" width="500px" height="500px" >
        <a href="{% url 'fruits:apple' %}"><h1>🍎</h1></a>
        <a href="{% url 'fruits:banana' %}"><h1>🍌</h1></a>
    </center>
</body>
</html>